*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}
.hero1{
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        
        .heroLogo{
            font-size: 40px;
            font-weight: 700;
            padding:0 0 0 20px;
            cursor: pointer;
        }
        #navLink{
            display: flex;
            a{
                text-decoration: none;
                padding: 9px 20px;
                margin: 0 7px;
                font-size: 18px;
                font-weight: 500;
                color: #444;
            }
            a:hover{
                color: #777;
            }
        }
        .bun{
            display: none;
            cursor: pointer;
            padding: 5px;
            div{
                width: 20px;
                height: 3px ;
                background-color: #222;
                margin: 3px;
            }
        }
        .heroSign{
            padding-right: 20px;
            a{
                padding: 7px 15px;
                text-decoration: none;
                font-size: 18px;
                font-weight: 500;
                color: #444;
                margin: 0 5px;
            }
            #signUp{
                background: #25DAC5;
                border-radius: 100px;
            }
        }
    }
}

@media(max-width: 900px ){
    .hero1{
        nav{
            position: relative;
            padding: 20px 0;
            transition: all .5s ease;
            .bun{
                display: block;
            }
            .heroLogo{
                font-size: 30px;
                padding:0 0 0 10px;
            }
            #navLink{
                display: none;
                flex-direction: column;
                position: absolute;
                top: 70px;
                width: 100%;
                a{
                    padding: 7px 17px;
                    margin: 10px 7px;
                }
                a:hover{
                    background-color: #25DAC5;
                }
            }
            .heroSign{
                padding-right: 10px;
                a{
                    padding: 7px 10px;
                    font-size: 16px;
                }
            }
        }
    }
}
@media(min-width: 901px ){
    #navLink{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        width: 100%;
        a{
            padding: 7px 17px;
            margin: 10px 7px;
        }
        a:hover{
            background-color: #25DAC5;
        }
    }
}